html
{
	background-color: #e5e5e5;
}

.row
{
	display: flex; 
	justify-content: center;
	flex-flow: row wrap;
}

.row img
{
	width: 240px;
	margin: 8px;
}

.row button
{
    margin: 8px;
	font-size: 20px;
	color: #252525;
	border: solid 2px #25a536;
	border-radius: 10px;
	background-color: #25a536;
	transition-duration: 0.15s;
}